<!DOCTYPE html>
<html>
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="../css/simple.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">

    </head>

        <body>
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <div id="wrapper">

                <!--Sidebar -->
                <div id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/home">RateMe</a>
                    </div>
                    <ul class="sidebar-nav">
                        <img src="http://placehold.it/100x100" class="img-responsive img-circle profile_img" alt="">
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2><%= user.fullname %></h2>
                        </div>
                        <li><a href="/home"> <i class="fa fa-home"></i>Home</a></li>
                        <li><a href="/companies"> <i class="fa fa-building-o"></i>Companies</a></li>
                        <li><a href="/search"> <i class="fa fa-search"></i>Company Search</a></li>
                        <li><a href="/leaderboard"> <i class="fa fa-bars"></i>Leaderboard</a></li>
                        <li><a href="/logout"> <i class="glyphicon glyphicon-log-out"></i>Log Out</a></li>
                    </ul>
                </div>
                <!--Sidebar -->

                <div id="page-content-wrapper">

                    <!--Navbar -->
                    <nav class="navbar">
                        <div class="container-fluid main_body">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Brand</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                            </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    <!--Navbar -->

                    <div class="container-fluid main_body">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        <h1>Hello, <%= user.fullname %></h1>
                        <p>What would you like to do today?</p>

                        <div class="row">
                            <div class="col-md-4" id="colDesc">
                                <div class="info-icon"><i class="fa fa-sign-in"></i></div>
                                <h3 class="text-center">Add Company</h3>
                                <p class="text-center">Add company profile. Registered employees can give ratings and reviews.</p>

                                <a href="/company/create" class="btn btn-block btn-primary link_btn">Add</a>
                            </div>


                            <div class="col-md-4" id="colDesc">
                                <div class="info-icon"><i class="fa fa-search"></i></div>
                                <h3 class="text-center">Search</h3>
                                <p class="text-center">Search through our business catalogue and find your best partner.</p>

                                <a href="/company/search" class="btn btn-block btn-primary link_btn">Search</a>
                            </div>

                            <div class="col-md-4" id="colDesc">
                                <div class="info-icon"><i class="fa fa-star"></i></div>
                                <h3 class="text-center">Rate</h3>
                                <p class="text-center">Rate and review other companies and get your company reviewed as well.</p>

                                <a href="/companies" class="btn btn-block btn-primary link_btn">Rate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            $("#menu-toggle").click(function(e){
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            })
            </script>
        </body>
</html>
