<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="../css/simple.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">

</head>
  <body>
    <div class="container">
    
    <div class="text-center reg_msg">
        <h1><a href="/"><img border="0" alt="Logo" src="../images/logo1.jpg" width="300" height="250"></a></h1>
    </div>


        <div class="row signup">

        <% if(hasErrors) {%>
            <% for(var i = 0; i<messages.length; i++) {%>
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" arial-label="close">
                        &times;
                    </a>
                    <%= messages[i] %>
                </div>
            <% } %>
        <% } %>

        <% if(noErrors) {%>
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" arial-label="close">
                        &times;
                    </a>
                    <%= success %>
                </div>
        <% } %>
    
            <form method="POST">
                <div class="form-group input_group">
                    <input id="password" class="form-control" name="password" type="password" autocomplete="on" placeholder="Password" style="margin-bottom:20px;">
                </div>

                <div class="form-group input_group">
                    <input id="cpassword" class="form-control" name="cpassword" type="password" autocomplete="on" placeholder="Confirm password" style="margin-bottom:20px;">
                </div>

                <div class="form-group" id="submit">
                    <input type="submit" value="Reset Password" class="form-control btn btn-primary" name="reset" style="">
                </div>
            </form>

            <div>
                <h4>Already reset your password? <a href="/login">Login</a></h4>
            </div>

        </div>
    </div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
  </body>
</html>
